{% extends 'base.html' %}

{% block title %}Home

{% endblock %}

{% block content %}

<h1>Welcome to W-Store</h1>
<p>Designed by Jamshiya for Women.</p>
<p1><small>Women's wear includes outfits designed specifically for women. Examples include salwar suits, sarees, and lehengas in Indian tradition, and skirts, shirts, sweaters, trousers, coats, chemises, and jeans in Western fashion.
 </small></p1>

<div class="product-grid">
    <!-- Assuming you have a 'products' context passed to the template -->
    {% for product in products %}
    <div class="product-item">
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <h3 id="h3ID"><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h3>
        <p>AED {{ product.price }}</p>
        <a href="{% url 'product_detail' product.id %}" class="addTOCart">View Details</a>
    </div>
    {% endfor %}
</div>
{% endblock %}

